<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col sizeLg="4" sizeMd="12" sizeXs="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{ item.title }}</ion-card-title>
                    </ion-card-header>
                    <div [style]>
                        <ion-img [src]="item.path" [alt]="item.title"></ion-img>
                    </div>
                    <ion-card-content>
                        <app-stats [stats]="item.stats"></app-stats>
                        <app-comment-tree [comments]="item.comments"></app-comment-tree>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
