<ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeLg="4" sizeMd="4" sizeXs="12">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{ item.name }}</ion-card-title>
                </ion-card-header>
                <div [style]>
                    <ion-img [src]="item.imgSrc" [alt]="item.name"></ion-img>
                </div>
                <ion-card-content
                    ><div>
                        <ion-button fill="solid"
                            ><fa-icon [icon]="['fas', 'arrow-up']"></fa-icon
                        ></ion-button>
                        <ion-button fill="solid"
                            ><fa-icon [icon]="['fas', 'arrow-down']"></fa-icon
                        ></ion-button>
                        <ion-button fill="solid"
                            ><fa-icon [icon]="['fas', 'share-alt-square']"></fa-icon
                        ></ion-button>
                    </div>
                    <div>
                        <h2>User1:</h2>
                        {{ user1 }}
                    </div>
                    <div>
                        <h2>User2:</h2>
                        {{ user2 }}
                    </div>
                    <div>
                        <h2>User3:</h2>
                        {{ user3 }}
                    </div>
                    <!-- <div>Reply</div> -->
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
