<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col sizeLg="4" sizeMd="12" sizeXs="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            <ion-item lines="none">
                                {{ user.email }}
                                <ion-button slot="end" (click)="sendPasswordRecovery()">Change Password</ion-button>
                            </ion-item>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-text>Themes:</ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="block" (click)="changeTheme(theme.Light)">Light</ion-button>
                                </ion-col>

                                <ion-col>
                                    <ion-button expand="block" (click)="changeTheme(theme.Dark)">Dark</ion-button>
                                </ion-col>

                                <ion-col>
                                    <ion-button expand="block" color="medium" (click)="changeTheme(theme.Night)"
                                        >Night</ion-button
                                    >
                                </ion-col>

                                <ion-col>
                                    <ion-button expand="block" color="medium" (click)="changeTheme(theme.Neon)"
                                        >Neon</ion-button
                                    >
                                </ion-col>

                                <ion-col>
                                    <ion-button expand="block" color="medium" (click)="changeTheme(theme.Autumn)"
                                        >Autumn</ion-button
                                    >
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
