<ion-menu
    contentId="{{ contentId }}"
    menuId="main-content"
    type="overlay"
    swipeGesture="true"
    side="start"
>
    <ion-content>
        <ion-list id="inbox-list">
            <ng-container
                *ngTemplateOutlet="
                    !isAuthenticated ? notAuthTemplate : authTemplate;
                    context: { user: user }
                "
            >
            </ng-container>

            <ng-template #notAuthTemplate>
                <ion-menu-toggle (click)="presentModal()" auto-hide="false" menu="main-content">
                    <ion-item lines="none" detail="false">
                        <ion-icon
                            slot="start"
                            [ios]="'home-outline'"
                            [md]="'home-sharp'"
                        ></ion-icon>
                        <ion-list-header>Login/Sign-up</ion-list-header>
                    </ion-item>
                </ion-menu-toggle>
            </ng-template>

            <ng-template #authTemplate let-user="user">
                <ion-menu-toggle auto-hide="false" menu="main-content">
                    <ion-item
                        [routerLink]="['./profile']"
                        routerDirection="root"
                        lines="none"
                        detail="false"
                    >
                        <ion-icon
                            slot="start"
                            [ios]="'home-outline'"
                            [md]="'home-sharp'"
                        ></ion-icon>
                        <ion-list-header>{{ user.name }}</ion-list-header>
                        <!-- <ion-note>{{ user.email }}</ion-note> -->
                    </ion-item>
                </ion-menu-toggle>
            </ng-template>

            <ion-menu-toggle
                auto-hide="false"
                menu="main-content"
                *ngFor="let p of appPages; let i = index"
            >
                <!-- (click)="selectedIndex = i" -->
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
                    <!-- [class.selected]="selectedIndex == i" -->
                    <ion-icon
                        slot="start"
                        [ios]="p.icon + '-outline'"
                        [md]="p.icon + '-sharp'"
                    ></ion-icon>
                    <ion-label>{{ p.title }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
            <ion-list-header>Categories</ion-list-header>

            <ion-item *ngFor="let category of categories" lines="none">
                <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
                <ion-label>{{ category }}</ion-label>
            </ion-item>
        </ion-list> -->
    </ion-content>
</ion-menu>
