<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Select country to get all it's posts</ion-card-title>
        </ion-card-header>
        <div>
            <ion-item [routerLink]="['/posts']" routerDirection="root" lines="none" detail="false">
                <ion-img
                    src="https://upload.wikimedia.org/wikipedia/commons/b/bd/World_Map_Gini_coefficient.png"
                ></ion-img>
            </ion-item>
        </div>
        <ion-card-content></ion-card-content>
    </ion-card>
</ion-content>
